<section class="joblisting_grid">
    <% user.savedJobs.forEach(job => { %>
            <div class="card" id="companyCard" style="width: 18rem;">
                <div class="card-body">
                    <div class="company_card_photo_div">
                <img class="company_card_photo" src=<%=job.company.companyImg%> alt="">
            </div>
            <h5 class="card-title"><%=job.jobTitle%></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=job.company.companyName%></h6><br>
            <!-- <h6>Required Skills</h6> -->
            <section class="requiredSkills_cardLinks">
            <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Required Skills
                    </button>
                    <ul class="dropdown-menu">
                        <% job.requiredSkills.forEach(skill =>  { %>
                            <li class="dropdown-item" value=<%=skill%>><%=skill%></li>
                        <%  }) %>
                    </ul>
            </div>
            
            <div class="card_link_div">
                <form action="/<%=profile._id%>/saved?_method=PUT" method=POST>
                    <input type="hidden" value="<%=job._id%>" name="jobId">
                    <button class="btn btn-primary" type="submit" name="savedJobs">Save this Job</button>
                </form>
            </div>
        </section>

<!-- Code to work on a modal ...ugh...  -->
        <html>
            <body>
                <!-- Vertically centered modal -->
                <div class="container">
                    <div class="modal fade">
                        <div class="modal-dialog modal-dialog-centered">
                            <h1>Your password was incorrect</h1>
                            <a href="/login">Back to Login</a>
                        </div>
                    </div>
                </div>
            </body>
        </html>