<%- include("./partials/header.ejs"); %>

<html>
    <body>
        <h1><%=user.firstName%>, you can edit your profile here</h1>
        <form action="/<%=user._id%>?_method=PUT" method="POST" class="register_form">
        <section class="register_right">
            <div class="mb-3">
              <label class="form-label">Desired Salary</label>
              <input type="text" class="form-control"  aria-describedby="desiredSalary" name="desiredSalary" value="<%=user.desiredSalary%>">
            </div><div class="mb-3">
              <label class="form-label">Desired Industry</label>
              <input type="text" class="form-control"  aria-describedby="desiredSalary" name="desiredIndustry" value="<%=user.desiredIndustry%>">
            </div>
            <div class="mb-3">
              <label class="form-label">Desired City</label>
              <input type="text" class="form-control"  aria-describedby="desiredSalary" name="desiredCity" value="<%=user.desiredCity%>">
            </div>
            <div class="mb-3">
              <label class="form-label">Profile Photo</label>
              <input type="text" class="form-control"  aria-describedby="desiredSalary" name="profileImg" value="<%=user.profileImg%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Current skills</label>
              <input type="textbox" class="form-control"  aria-describedby="desiredSalary" name="skills" value="<%=user.skills%>">
            </div>
          </section>
          <div class="register_form_button">
            <button type="submit" class="btn btn-primary">Edit</button>
          </div>
        </form>
    </body>
</html>