<%- include("partials/header.ejs"); %>

<html>
    <body>
        <!-- <h1>Home Page</h1> -->
        <% if (user) { %>
            <h2 id="welcome">Welcome <%= user.username %></h2>
            <div class="profile_page">
            <aside class="user_aside">
                <div class="profile_card">
                    <img src=<%=profile.profileImg%> class="card-img-top" id="profile_card_image" alt="...">
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <h5>Skills</h5>
                            <ul class="list-group">
                                <%for (let i=0; i < profile.skills.length; i++) { %>
                                <li class="list-group-item">
                                  <input class="form-check-input me-1" type="checkbox" id=<%=profile.skills[i]%> value="<%=profile.skills[i]%>" aria-label="...">
                                  <%=profile.skills[i]%>
                                </li>
                         <% } %>
                              </ul>
                          <h5>Location</h5>
                          <li class="list-group-item">
                              <input class="form-check-input me-1" type="checkbox"><%=profile.desiredCity%>
                            </li>
                          <h5>Salary</h5>
                          <li class="list-group-item"><%=profile.desiredSalary%></li>
                          <h5>Industry</h5>
                          <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox"><%=profile.desiredIndustry%>
                          </li>
                        </ul>
                        <div class="card-body">
                            <a href="/<%=profile._id%>/saved" class="card-link">Saved Jobs</a>
                          <a href="/<%=profile._id%>/edit" class="card-link">Edit Profile</a>
                        </div>
                      </div>
                    
                </div>
            </aside>
            <section class="joblisting_grid">
                <% joblistings.forEach(job => { %>
                        <div class="card" id="companyCard" style="width: 18rem;">
                            <div class="card-body">
                                <div class="company_card_photo_div">
                                    <img class="company_card_photo" src=<%=job.company.companyImg%> alt="">
                                </div>
                            <h5 class="card-title"><%=job.jobTitle%></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%=job.company.companyName%></h6><br>
                        <!-- <h6>Required Skills</h6> -->
                        <section class="requiredSkills_cardLinks">
                        <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Required Skills
                                </button>
                                <ul class="dropdown-menu">
                                    <% job.requiredSkills.forEach(skill =>  { %>
                                        <li class="dropdown-item" value=<%=skill%>><%=skill%></li>
                                    <%  }) %>
                                </ul>
                        </div>
                        <div class="card_link_div">
                            <form action="/<%=profile._id%>/saved?_method=PUT" method=POST>
                                <input type="hidden" value="<%=job._id%>" name="jobId">
                                <button class="btn btn-primary" type="submit" name="savedJobs">Save this Job</button>
                            </form>
                        </div>
                    </section>
                    </div>
                </div>
                <%   }) %>
            </section>
        </div>
      <% } else { %>
        <h2>Welcome!</h2>
            <div class="welcome_div">
                <a href="/login">Login</a><br>
                <a href="/register">Register</a>
            </div>
       <% } %>
    </body>
</html>