<%- include("partials/header.ejs"); %>

<html>
    <body>
        <!-- <h1>Home Page</h1> -->
        <% if (user) { %>
            <h2>Welcome <%= user.username %></h2>
            <div class="profile_page">
            <aside class="user_aside">
                <div class="profile_card">
                    <div class="card" style="width: 18rem;">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <!-- <div class="card-body">
                          <h5 class="card-title">User Profile Card</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div> -->
                        <ul class="list-group list-group-flush">
                            <h5>Skills</h5>
                          <li class="list-group-item"><%=profile.skills%></li>
                          <h5>Location</h5>
                          <li class="list-group-item"><%=profile.desiredCity%></li>
                          <h5>Salary</h5>
                          <li class="list-group-item"><%=profile.desiredSalary%></li>
                          <h5>Industry</h5>
                          <li class="list-group-item"><%=profile.desiredIndustry%></li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="/edit" class="card-link">Edit Profile</a>
                        </div>
                      </div>
                    
                </div>
            </aside>
            <section class="joblisting_grid">
                <%  for (let i=0; i < joblistings.length; i++) { %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%=joblistings[i].jobTitle%></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%=companies[i].companyName%></h6><br>
                        <h6>Required Skills</h6>
                        <p class="card-text"><%=joblistings[i].requiredSkills%></p>
                        <div class="card_link_div">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
                <% } %>
            
        </div>
      <% } else { %>
        <h2>Welcome!</h2>
            <div class="welcome_div">
                <a href="/login">Login</a><br>
                <a href="/register">Register</a>
            </div>
       <% } %>
    </body>
</html>