<%- include("partials/header.ejs"); %>

<html>
    <body>
        <!-- <h1>Home Page</h1> -->
        <% if (user) { %>
            <h2 id="welcome">Welcome <%= user.username %></h2>
            <div class="profile_page">
            <aside class="user_aside">
                <div class="profile_card">
                    <img src=<%=profile.profileImg%> class="card-img-top" id="profile_card_image" alt="...">
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <h5>Skills</h5>
                            <ul class="list-group">
                                <%for (let i=0; i < profile.skills.length; i++) { %>
                                <li class="list-group-item">
                                  <input class="form-check-input me-1" type="checkbox" id=<%=profile.skills[i]%> value="" aria-label="...">
                                  <%=profile.skills[i]%>
                                </li>
                         <% } %>
                              </ul>
                          <h5>Location</h5>
                          <li class="list-group-item">
                              <input class="form-check-input me-1" type="checkbox"><%=profile.desiredCity%>
                            </li>
                          <h5>Salary</h5>
                          <li class="list-group-item"><%=profile.desiredSalary%></li>
                          <h5>Industry</h5>
                          <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox"><%=profile.desiredIndustry%>
                          </li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="/<%=profile._id%>/edit" class="card-link">Edit Profile</a>
                        </div>
                      </div>
                    
                </div>


            </aside>
            <section class="joblisting_grid">
                <%  for (let i=0; i < joblistings.length; i++) { %>
                <div class="card" id="companyCard" style="width: 18rem;">
                    <div class="card-body">
                        <div class="company_card_photo_div">
                            <img class="company_card_photo" src="<%=companies[i].companyImg%>" alt="">
                        </div>
                        <h5 class="card-title"><%=joblistings[i].jobTitle%></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%=companies[i].companyName%></h6><br>
                        <h6>Required Skills</h6>
                        <p class="card-text"><%=joblistings[i].requiredSkills%></p>
                        <div class="card_link_div">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
                <% } %>
            
        </div>
      <% } else { %>
        <h2>Welcome!</h2>
            <div class="welcome_div">
                <a href="/login">Login</a><br>
                <a href="/register">Register</a>
            </div>
       <% } %>
    </body>
</html>