<%- include("partials/header.ejs"); %>

<html>
    <body>
        <h1>Saved Jobs here</h1>

        
        <% joblisting.forEach(joblisting => { %>
            <p>This is the joblisting model ID <%=joblisting._id%></p>          
                <% user.savedJobs.forEach(job => { %>
                   <p>This is the User savedJobs ID <%=job%></p>
                   <p><%=joblisting._id%></p>
               <% }) %>
            <% }) %>

        
        <% user.savedJobs.forEach(job => { %>

            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=job.jobTitle%></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 
                  <form action="">
                      <button class="btn btn-danger">Delete this job</button>
                  </form>
                </div>
              </div>

       <% }) %>

    </body>
</html>
